<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>904473601289-hj04vhkh1u8183udvcghm535tk514esl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.904473601289-hj04vhkh1u8183udvcghm535tk514esl</string>
	<key>API_KEY</key>
	<string>AIzaSyC33uPbt6TJSnTM5r051jWLT3zRS-BJytY</string>
	<key>GCM_SENDER_ID</key>
	<string>904473601289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.gov.sp.educacao.SEDProfessor</string>
	<key>PROJECT_ID</key>
	<string>diariodeclasse-65715</string>
	<key>STORAGE_BUCKET</key>
	<string>diariodeclasse-65715.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:904473601289:ios:37127ded5de4ab2c</string>
	<key>DATABASE_URL</key>
	<string>https://diariodeclasse-65715.firebaseio.com</string>
</dict>
</plist>